source_env "$HOME/.config/lunar-analyst/host-secrets.env"

export LUNAR_ANALYST_CONFIG_TOML="$PWD/config/lunar_analyst.toml"
export LUNAR_ANALYST_WORKSPACE_ROOT="${LUNAR_ANALYST_WORKSPACE_ROOT:-/e/lunar_analyst_scenarios}"

# I'm not using this for now.  I need to explicitly activate the environment
# export LUNAR_ANALYST_PYTHON="/e/projects/env_311/bin/python"